# Build artifacts
terraform-provider-manako
dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDE
.idea/
.vscode/
*.swp
*.swo
